<!--texto para o forms de login tudo que estiver entre a
ta de app-default-login-layout será chamado lá no componente-->

<app-default-login-layout
  title="Faça login com a sua conta."
  primaryBtnText="LOGIN"
  secondaryBtnText="INSCREVA-SE AGORA"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid">



  <!--necessário chamar no default login com <ng-content>-->
     <!--VALIDAÇÃO OCORRE NO LOGIN.COMPONENT.TS-->
  <form [formGroup]="loginForm">

    <!--importar o component do primary-input-->
    <!--INPUT DA EMAIL-->
    <app-primary-input
      formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="email@email.com">
      <img src="/assets/email.png"/>
    </app-primary-input>

     <!--INPUT DA SENHA-->
    <app-primary-input
     formControlName="senha"
       inputName="senha"
       type="password"
        label="Sua Senha"
       placeholder="**********">
  <img src="/assets/senha2.png" width="30px"/>

</app-primary-input>
<span>Esqueceu sua senha?</span>


  </form>
</app-default-login-layout>

